P {color:red; 
    font-size:20px;
    font-family:Courier;
    font-weight:bold;
    font-style:italic;
    line-height:30px;
    letter-spacing:5px;
    text-decoration:underline;
    text-transform:capitalize;
    text-align:left;
    text-indent:30px;
   }